*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

li{
	list-style: none;
}

%conteneur{
	font-size: 19px;
	padding-left: 3%;
	padding-right: 3%;
}



.bas{
	margin-bottom: -4px; 
}

body{

	overflow-x: hidden;
	
	header{
		@extend %conteneur;
	}

}