.module3{
    position: relative;
    aspect-ratio: 16 / 7.5;


    img{
        position: absolute;
        top:0;
        left:0;
        opacity:1;
        width: 100%;
        height: auto;
        z-index: 5;
    }

    iframe{
        width: 100vw;
        height: 100%;
    }
}

.player{
    left: 0;
    top: 0;
    position:relative;
    display: none;
    height: 100%;
}


// .module3{
//     display: inline-block;
//     position: relative;
//     width: 100vh;

//     img{
//         position:relative;
//         top:0;
//         left:0;
//         opacity:1;
//     }
// }

// .video-responsive{
//     overflow:hidden;
//     padding-bottom:56.25%;
//     position:relative;
//     height:0;
// }

// .video-responsive iframe{
//     left:0;
//     top:0;
//     height:100%;
//     width:100%;
//     position:absolute;
// }