.module5{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #E6F4F7;
    padding-right: 4%;
    padding-bottom: 7%;
    padding-top: 5%;

    @media(max-width: $mobile){
        flex-direction: column;
    } 

    H3{
        @media(max-width: $mobile){
            text-align: center;
        } 
    }

    p{
        padding-top: 5%;
    }

    img{
        width: 35%;

        @media(max-width: $mobile){
            width: 49%;
        } 

        &:before{
            position:absolute;
            top:0;
            left:0;
            width:20px;
            height:20px;
            background:gray;
        }
    }

    & > img:first-of-type{
        @media(max-width: $mobile){
            width: 73%;
            padding-top: 3%;
            padding-bottom: 4%;
        }
    }

    .txt{
        @media(max-width: $mobile){
            text-align: center;
        } 
    }

    div{
        position: relative;

        svg:before{
            position: absolute;
        }
    }

    .cta_appli{
        width: 80%;
        padding-top: 5%;

        @media(max-width: $mobile){
            width: 100%;
        } 
    }
}