.module7{
    width: 100vw;
    
    background-color: $bleu;
    background-image: url("../img/chat_transparent.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width: $mobile){
        background-image: none;
    }

    .news{
        padding: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p{  
        text-align: center;
        color: white;
        padding-bottom: 2%;
        padding-top: 1%;

        @media(max-width: $mobile){
            padding-bottom: 5%;
            padding-top: 4%;
        }
    }

    div{
        width: 4%;

        @media(max-width: $mobile){
            padding-top: 3%;
        }
    }

    .input{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 2%;

        @media(max-width: $mobile){
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 5%;
        }
    }

    input{
        padding-bottom: 5%;
        padding: 0.8em 1.5em;;
        border: none;
        border-radius: 50px;
        @extend %typo;
        font-size: 1.2vw;
        
        @media(max-width: $mobile){
            font-size: 3.2vw;
        }
    }
    
    ::placeholder {
        padding-left: 0.5em;
        @extend %typo;
        font-size: 1.2vw;
        
        @media(max-width: $mobile){
            font-size: 3.2vw;
        }    
    }
    
    #name{
        width: 15%;

        @media(max-width: $mobile){
            width: 66%;
        }   
    }

    #mail{
        width: 40%;

        @media(max-width: $mobile){
            width: 66%;
        } 
    }
    
    a{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.2vw;

        @media(max-width: $mobile){
            font-size: 3.2vw;
    }
    }
}