.module4{
  width: 100%;
  height: 80vh;
  padding-top: 3%;
  padding-bottom: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: $mobile){
    height: 80vh;
    }

  a{
    @media(max-width: $mobile){
      margin-top: 5%;
      margin-bottom: 5%;
      }
  }

  .slider_module{
    font-size: 2vW;
    margin-bottom: -1%;

    @media(max-width: $mobile){
      font-size: 6vW;
      } 
  }

  .slider_text{
    width: 50%;
    
    @media(max-width: $mobile){
      width: 90%;
      } 
  }
}

.swiper {
  width: 80vw;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  padding-bottom: 2%;
  padding-top: 2%;
  display: block;
  width: 15%;
  object-fit: cover;

  @media(max-width: 900px){
    width: 31%;
    } 

  @media(max-width: $mobile){
    width: 65%;
    } 
}