$bleu_fonce: #15374F;
$bleu: #478bcb;
$bleu_clair: #CDE9EF;
$bleu_clair_1: #E6F4F7;

$ombre_carte: 0 0 40px $bleu_fonce;
$ombre_image: 0 0 10px $bleu_fonce;

$radius: 20px;

$tablette: 1000px;
$mobile: 700px;